*{
    font-family: sans-serif;
    margin: 0%;
}
.navigation{
    padding: 10px;
}
.upperCard{
    background-color: skyblue;
    padding: 10px;
    height: 100%;
    display: flex;
}
.uCardChild{
    background-color: palegreen;
    float: left;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    margin-right: 10px;
}

.lowerCard{
    background-color: yellow;
}
.btn {
    padding: 10px 20px;
    border: solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
  }
  .btn:hover {
    background-color: black;
    color: white;
  }
  .input-field {
    text-align: center;
    border: solid;
    border-radius: 10px;
    padding: 10px;
  }

  #kanban-board {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

#kanban-board > div {
    flex: 1;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#kanban-board h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
}

li:hover {
    background-color: #eee;
}